<button (click)="navigateToForm()" class="btn btn-primary btn-margin">Add student</button>


<!-- <input type="text" class="form-control"> -->
<input type="text" class="form-control" [(ngModel)]="filter " placeholder="Search...">
<br>
<div class="tableFixHead">
    <table class="table table-dark table-hover">
        <thead class="sticky-top">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Technology</th>
                <th>Address</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of studentList | search:filter | paginate:{
            itemsPerPage:tableSize,
            currentPage:page,
            totalItems:count} let i = index" class="table-secondary">
                <!-- <tr *ngFor="let data of studentList " class="table-secondary"> -->
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.age}}</td>
                <td>{{data.gender}}</td>
                <td>{{data.technology}}</td>
                <td>{{data.address}}</td>
                <td><button type="button" class="btn btn-danger me-3" (click)="deleteStudent(data.id)">Delete</button>
                    <button type="button" class="btn btn-info" (click)="editStudent(data.id)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div>
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
</div>