* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* variables */
:root {
  --background-color: #e5e7ea;
  --form-color: #ffffff;
}

/* helper classes */
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-item-center {
  align-items: center;
}
.required {
  color: red;
}
.inputs-style {
  padding: 5px;
}
.labels-style {
  padding-bottom: 10px;
}
.field-wrapper {
  padding: 10px 0px;
}

/* design starts */
body {
  background-color: var(--background-color);
}
.main-wrapper {
  height: 100%;
}
.form-wrapper {
  background-color: var(--form-color);
  margin-top: 30px;
  padding: 10px;
  border-radius: 2px;
}

.cancel-btn {
  padding: 5px;
  margin-right: 15px;
}
.sign-up-btn {
  padding: 5px;
  flex-grow: 1;
  border: none;
  background-color: rgb(197, 186, 186);
}
.dob {
  margin-right: 15px;
}
