<h2>Student Form</h2>
<div class="form-style justify-content-center ">
    <div class="w-100">
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="w-50">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">

                <div class="error-msg-color" *ngIf="reactiveForm.controls['name'].errors?.['required']">Name is required </div>
                <div class="error-msg-color" *ngIf="reactiveForm.controls['name'].errors?.['minlength']">Name should be at least 3 characters long</div>
                <div class="error-msg-color" *ngIf="reactiveForm.controls['name'].errors?.['maxlength']">Name should be no more than 25 characters long</div>
                <div class="error-msg-color" *ngIf="reactiveForm.controls['name'].errors?.['pattern']">Name should only be alphabets</div>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" id="age" formControlName="age">

                <div class="error-msg-color" *ngIf="reactiveForm.controls['age'].errors?.['required']">Age is required</div>
                <div class="error-msg-color" *ngIf="reactiveForm.controls['age'].errors?.['pattern']">Age should beat least 2 digit</div>

            </div>

            <div>

                <input type="radio" id="male" name="gender" value="male" formControlName="gender">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female" formControlName="gender">
                <label for="female">Female</label><br>
                <!-- <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label> -->
            </div>
            <div class="mb-3">
                <label for="technology">Chooseyour technology:</label>
                <select name="technology" id="technology" class="form-label" formControlName="technology">
                    <option value="frontend">Frontend</option>
                    <option value="qa">QA</option>
                    <option value=".net">.Net</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" formControlName="address">
            </div>

            <button type="submit" class="btn btn-primary"
                [disabled]="reactiveForm.invalid">{{editMode?'update':'add'}}</button>
            <!-- <button type="submit" class="btn btn-primary">{{editMode?'update':'add'}}</button> -->
        </form>
    </div>
</div>