<div class="form-wrapper">
    <header>
        <div class="form-title">Add Customer</div>
    </header>
    <section class="form-scroll">
        <form [formGroup]="customerForm" (ngSubmit)="editMode?updateCustomerData():postCustomertData()"
            class="bg-color">
            <div class="mb-3"></div>
            <div class="fp-30px">
                <label for="name">Name</label>
                <input type="text" class="form-control style" id="name" placeholder=" EnterName" formControlName="name">
                <div class="error-msg-color"
                    *ngIf="customerForm.controls['name'].errors?.['required']&&customerForm.controls['name'].touched">
                    Name is required
                </div>
                <!-- <div class="error-msg-color" *ngIf="customerForm.controls['name'].errors?.['minlength']">Name should be at least 3 characters long</div>
                    <div class="error-msg-color" *ngIf="customerForm.controls['name'].errors?.['maxlength']">Name should be no more than 25 characters long</div>
                    <div class="error-msg-color" *ngIf="customerForm.controls['name'].errors?.['pattern']">Name should only be alphabets</div> -->
                <label for="description">Description</label>
                <input type="text" class="form-control style" id="description" placeholder=" Enter description"
                    formControlName="description">
                <div class="error-msg-color"
                    *ngIf="customerForm.controls['description'].errors?.['required']&& customerForm.controls['description'].touched">
                    Name is required
                </div>
                <div>
                    <label for="status" class="ml-10px">Status</label>
                    <br>
                    <select name="status" id="status" formControlName="status" class="style">
                        <option value="open">Open</option>
                        <option value="error">Error</option>
                        <option value="inactive">Inactive</option>
                        <option value="success">Success</option>
                    </select>
                    <div class="error-msg-color"
                        *ngIf="customerForm.controls['status'].errors?.['required']&& customerForm.controls['status'].touched">
                        This field is required</div>
                </div>
                <div>
                    <label for="rate">Rate</label>
                    <input type="number" class="form-control style" id="rate" placeholder="Enter rate"
                        formControlName="rate">
                    <div class="error-msg-color"
                        *ngIf="customerForm.controls['rate'].errors?.['required']&& customerForm.controls['rate'].touched">
                        This field is
                        required
                    </div>
                </div>
                <label for="balance" class="ml-10px">Balance</label>
                <input type="number" class="form-control ml-10px style" id="balance" placeholder=" Enter balance"
                    formControlName="balance">
                <div class="error-msg-color"
                    *ngIf="customerForm.controls['balance'].errors?.['required']&& customerForm.controls['balance'].touched">
                    This field is
                    required</div>
            </div>
            <div class="mt-20">

                <button type="submit" class="btn btn-primary">{{editMode?'update':'save'}}</button>
                <button type="button" class="btn btn-secondary ml-2 " (click)="toCloseForm()">cancel</button>
            </div>
        </form>
    </section>
</div>