

.form-title {
    border-bottom: 1px solid #D9D9D9;
}

.error-msg-color {
    color: red;
}

 /* input.ng-invalid.ng-touched {
    border: 1px solid red;
}  */

.fp-30px {
    padding: 20px;
}

.ml-10px {
    margin-left: 13px;
}

.style {
    width: 365px;
    height: 32px;
    top: 25px;
   border-radius: 6px;
    Padding: 6px, 12px, 6px, 12px;
    Gap: 8px
}
.mt-20{
    margin-top: 20px;
    margin-left: 20px;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    
}
.form-scroll{
    overflow: auto;
    
}